!!! Transitional
%html{html_attrs}
  %head!= render :partial => "layouts/head"
  %body#check_age
    #root
      #header
        %h1#logo
          %a{:href => root_path, :title => "milkywaying home page"} milkywaying
        %p Internet made us left handed
      %hr
      #content
        %h2 This site contains adult material.
        %p
          You MUST be at least 18 years old, or the age of majority in the jurisdiction where you reside or from which you access this site.
        %p.ages
          %a{:href => 'http://www.whatajong.com', :title => 'If you are not allowed to visit this site, please LEAVE'} &laquo; Leave
          %a{:href => galleries_index_path(:parent => 'video'), :title => "Enter, I'm over 18"} Enter &raquo;
    != render :partial => "layouts/scripts"