#legal
  %h2 CONDICIONES GENERALES DE USO DEL SITIO WEB www.milkywaying.com
  
  %p
    Pau Ramon Revilla (EN ADELANTE EL PROPIETARIO) con domicilio a efectos de
    notificaciones en C/Marinel·lo Bosch 3,3,2. Terrassa. Spain (08222) con NIF 45493499 pone a
    disposición en su sitio web www.milkywaying.com determinados contenidos
    de carácter informativo sobre sus actividades. Las presentes condiciones
    generales rigen única y exclusivamente el uso del sitio web de EL
    PROPIETARIO por parte de los USUARIOS que accedan al mismo. Las presentes
    condiciones generales se le exponen al USUARIO en el sitio web
    www.milkywaying.com en todas y cada una de las páginas, para que las lea,
    las imprima, archive y acepte a través de internet y se encuentre
    plenamente informado.
  
  %p
    El acceso al sitio web de EL PROPIETARIO implica sin reservas la aceptación
    de las presentes condiciones generales de uso que el USUARIO afirma
    comprender en su totalidad. El USUARIO se compromete no a utilizar el sitio
    web y los servicios que se ofrecen en el mismo para la realización de
    actividades contrarias a la ley y a respetar en todo momento las presentes
    condiciones generales.
  
  %strong
    PRIMERA - CONDICIONES DE ACCESO Y USO:
  
  %p
    1.1.- La utilización del sitio web de EL PROPIETARIO, no conlleva la
    obligatoriedad de inscripción del USUARIO. Las condiciones de acceso y uso
    del presente sitio web se rigen estrictamente por la legalidad vigente y
    por el principio de buena fe comprometiéndose el USUARIO a realizar un buen
    uso de la web.  Quedan prohibidos todos los actos que vulneren la
    legalidad, derechos o intereses de terceros: derecho a la intimidad,
    protección de datos, propiedad intelectual etc. Expresamente EL PROPIETARIO
    prohíbe los siguientes:
  
  %p
    1.1.1.- Realizar acciones que puedan producir en el sitio web o a través
    del mismo por cualquier medio cualquier tipo de daño a los sistemas de EL
    PROPIETARIO o a terceros.
  
  %p
    1.1.2.- Realizar sin la debida autorización cualquier tipo de publicidad
    o información comercial directamente o de forma encubierta, el envío de
    correos masivos ("spaming") o envío de grandes mensajes con el fin de
    bloquear servidores de la red ("mail bombing")
  
  %p
    1.2.- EL PROPIETARIO, podrá interrumpir en cualquier momento el acceso a
    su sitio web si detecta un uso contrario a la legalidad, la buena fe o a
    las presentes condiciones generales- ver cláusula quinta.
  
  %strong
    SEGUNDA - CONTENIDOS:
    
  %p
    Los contenidos incorporados en este sitio web han sido
    elaborados y/o incluidos por:
  
  %p
    2.1.- EL PROPIETARIO utilizando fuentes internas y externas de tal modo
    que EL PROPIETARIO únicamente se hace responsable por los contenidos
    elaborados de forma interna.
  
  %p
    2.2.- Los USUARIOS, a través de colaboraciones o introducción voluntaria
    de contenidos,  tanto gráficos como escritos, directa o indirectamente a
    través de enlaces o links siendo éstos los únicos responsables de los
    mismos y quedando expresamente exento EL PROPIETARIO de toda
    responsabilidad. EL USUARIO que introduzca cualquier contenido en el sitio
    web del PROPIETARIO manifiesta la absoluta legalidad y autoría de los
    mismos y expresamente asume todo tipo de responsabilidad que se pueda
    derivar de estos contenidos.
  
  %p
    2.3.- EL PROPIETARIO se reserva el derecho a modificar en cualquier
    momento los contenidos existentes en su sitio web. EL PROPIETARIO no
    asegura ni se responsabiliza del correcto funcionamiento de los enlaces a
    sitios web de terceros que figuren en www.milkywaying.com
  
  %p
    Además a través del sitio web del PROPIETARIO se ponen a disposición del
    usuario servicios gratuítos y de pago ofrecidos por terceros ajenos y que
    se regirán por las condiciones particulares de cada uno de éllos. EL
    PROPIETARIO no garantiza la veracidad, exactitud o actualidad de los
    contenidos y servicios ofrecidos por terceros y queda expresamente exento
    de todo tipo de responsabilidad por los daños y perjuicios que puedan
    derivarse de la falta de exactitud de estos contenidos y servicios.
  
  %strong
    TERCERA - RESPONSABILIDAD:
  
  %p
    3.1.- EL PROPIETARIO en ningún caso será responsable de:
  
  %p
    3.1.1.- Los fallos e incidencias que pudieran producirse en las
    comunicaciones, borrado o transmisiones incompletas de manera que no se
    garantiza que los servicios del sitio web estén constantemente operativos
  
  %p
    3.1.2.- De la producción de cualquier tipo de daño que los USUARIOS o
    terceros pudiesen ocasionar en el sitio web.
  
  %p
    3.1.3.- De la fiabilidad y veracidad de las informaciones introducidas
    por terceros en el sitio web, bien directamente, bien a través de enlaces o
    links. Asimismo, Pau Ramon Revilla colaborará y notificará a la autoridad
    competente estas incidencias en el momento en que tenga conocimiento
    fehaciente de que los daños ocasionados constituyan cualquier tipo de
    actividad ilícita.
  
  %p
    3.2.- EL PROPIETARIO se reserva el derecho a suspender el acceso sin
    previo aviso de forma discrecional y con carácter definitivo o temporal
    hasta el aseguramiento de la efectiva responsabilidad de los daños que
    pudieran producirse. Asimismo, EL PROPIETARIO colaborará y notificará a la
    autoridad competente estas incidencias en el momento en que tenga
    conocimiento fehaciente de que los daños ocasionados constituyan cualquier
    tipo de actividad ilícita.
  
  %strong
    CUARTA - DERECHOS DE AUTOR Y MARCA:
    
  %p
    El sitio web de EL PROPIETARIO - los
    contenidos propios, la programación y el diseño del sitio web- se encuentra
    plenamente protegido por los derechos de autor, quedando expresamente
    prohibida toda reproducción, comunicación, distribución y transformación de
    los referidos elementos protegidos salvo consentimiento expreso de EL
    PROPIETARIO. Los materiales tanto gráficos como escritos enviados por los
    usuarios a través de los medios que se ponen a su disposición en el sitio
    web son propiedad del usuario que afirma al enviarlos su legítima autoría y
    cede los derechos de reproducción y distribución al PROPIETARIO.
  
  %strong
    QUINTA - JURISDICCIÓN Y LEY APLICABLE:
    
  %p
    Las presentes condiciones generales
    se rigen por la legislación española. Son competentes para resolver toda
    controversia o conflicto que se derive de las presentes condiciones
    generales los Juzgados de Barcelona renunciando expresamente el USUARIO a
    cualquier otro fuero que pudiera corresponderle.
  
  %strong
    SEXTA:
    
  %p
    En caso de que cualquier cláusula del presente documento sea
    declarada nula, las demás cláusulas seguirán vigentes y se interpretarán
    teniendo en cuenta la voluntad de las partes y la finalidad misma de las
    presentes condiciones. EL PROPIETARIO podrá no ejercitar alguno de los
    derechos y facultades conferidos en este documento lo que no implicará en
    ningún caso la renuncia a los mismos salvo reconocimiento expreso por parte
    de EL PROPIETARIO.
  
  -#
    ------------------------------------------------------------------
  
    ﻿GENERAL CONDITIONS ABOUT USING THE WEB SITE OF Pau Ramon Revilla
    www.milkywaying.com
  
    Pau Ramon Revilla (FROM NOW 'THE OWNER') with residence for the
    purpose of notifications in C/Marinel·lo Bosch 3,3,2. Terrassa. Spain (08222) with
    NIF 45493499 puts availably in his web site www.milkywaying.com contents of
    informative character determined on his present activities. The general 
    conditions rules only and exclusively the use of the web site of THE OWNER on the 
    part of the USERS that access it. The present general conditions are exposed to the USER in
    the web site www.milkywaying.com in all and each of the pages, so that
    he can read them, print them, and he can be completely informed.
  
    The access to the web site of THE OWNER implies without
    reservations the acceptance of the present general
    conditions of use which the USER states to understand in
    their whole. The USER is implicated not to use the web
    site and the services that are offered in the same one for the
    accomplishment of activities contrary to the law and to respect the
    present general conditions at all times.
  
    FIRST. - CONDITIONS OF ACCESS AND USE
  
    1.1. - The use of the web site of THE OWNER, does not entail the
    obligatory nature of inscription of the USER. The conditions of access
    and use of the present web site are ruled by the current legality and by
    the beginning|principle of good faith committing the USER to carry
    out a good use of the web strictly. The legality, laws|rights or
    interests remain all the acts that interfere forbidden of third: right to
    the privacy, protection of data, copyright etc. Expresamente THE
    OWNER forbids the following ones: