%title= @header_title
%meta{:content => "text/html; charset=utf-8", 'http-equiv' => "Content-Type"}
%meta{:content => @header_description, :name => "description"}
%meta{:content => "Pau Ramon Revilla", :name => "author"}

%link{:href => galleries_rss_url(params[:tag], 'rss'), :title => "Milkywaying.com RSS Feed", :type => "application/rss+xml", :rel => "alternate"}
%link{:rel => "stylesheet", :href => "/stylesheets/global.css", :type => "text/css", :media => "screen"}
